<div class="row">
  <div class="col-lg-4 col-md-8 col-sm-8">
    <div class="card card-stats"  style="padding: 20px 0px;">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-success">
              <i class="nc-icon nc-sound-wave text-success" ></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <h5 class="card-title text-success">{{progressLoans}} 
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <h5 class="text-center">Total Progress Loans</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-8 col-sm-8">
    <div class="card card-stats" style="padding: 20px 0px;">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-satisfied text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <h5 class="card-title text-warning">{{closedLoans}}
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <h5 class="text-center">Total Closed Loans</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-8 col-sm-8">
    <div class="card card-stats" style="padding: 20px 0px;">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-favourite-28 text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <h5 class="card-title text-primary">{{totalLoans}}
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <h5 class="text-center">Total Loan Given</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-1 col-md-2 col-sm-2"></div>
  <div class="col-lg-5 col-md-10 col-sm-10">
    <div class="card card-stats" style="padding: 20px 0px;">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <h5 class="card-title text-danger">{{pendingInterest | currency:'INR':'symbol-narrow':'0.0'}}
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <h5 class="text-center">Pending Interest</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-5 col-md-10 col-sm-10">
    <div class="card card-stats" style="padding: 20px 0px;">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <h5 class="card-title text-success">{{totalLoan | currency:'INR':'symbol-narrow':'0.0'}}
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
           <h5 class="text-center">Total Loan Amount</h5>
        </div>
      </div>
    </div>
  </div>
</div>
