<div class="row">
  <div class="col-md-12" *ngIf="showTable">
    <div class="card">
      <div class="card-header bg-primary text-light">
        <h4 class="card-title"> Current Loans</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive"> 
          <table class="table">
            <thead class="text-primary text-center" style="font-size: 15px;">
              <th>
                S.NO
              </th>
              <th>
                LOAN ID
              </th>
              <th>
                NAME
              </th>
              <th>
                DATE
              </th>
              <th>
                AMOUNT
              </th>
              <th>
                INTEREST
              </th>
              <th>
                PENDING AMOUNT
              </th>
              <th>
                QUICK LOOK
              </th>
              <th>
                CUSTOMIZE
              </th>
              <!-- <th>
                Delete
              </th> -->
            </thead>
            <tbody>
              <tr *ngFor="let row of progressTable.dataRows; index as i">
                <td class="text-center">{{ i + 1 }}</td>
                <td class="text-center text-primary">{{ row[0] }}</td>
                <td class="text-center">{{row[1] }}</td>
                <td class="text-center"> {{row[2] | date:'dd-MM-yyyy'}}</td>
                <td class="text-center">{{row[3] | currency:'INR':'symbol-narrow':'0.0' }}</td>
                <td class="text-center">{{row[4] | currency:'INR':'symbol-narrow':'0.0'}}</td>
                <td class="text-danger text-center" *ngIf="row[5] > 0">{{row[5] | currency:'INR':'symbol-narrow':'0.0'}}</td>
                <td class="text-success text-center" *ngIf="0 >= row[5]">{{row[5] | currency:'INR':'symbol-narrow':'0.0'}}</td>
                <td class="text-center" ><i class="nc-icon nc-zoom-split" (click)="info(row[0])" style="font-size: 20px;cursor: pointer;"></i></td>
                <td class="text-center"><i class="nc-icon nc-settings text-primary" (click)="editLoan(row[0], row[5])" style="font-size: 20px;cursor: pointer;"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="nc-icon nc-basket" (click)="deleteLoan(row)" style="font-size: 20px;cursor: pointer;color: red;"></i></td>
                <!-- <td class="text-danger text-center"></td> -->
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" *ngIf="showEdit">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">
          <button type="button" class="btn btn-primary btn-sm" (click)="backToGrid()">BACK</button>
          <button type="button" style="float: right;" class="btn btn-danger btn-sm" (click)="closeLoan(loanData)">CLOSE LOAN</button>
        </h5>
      </div>
      <div class="card-body">
        <form [formGroup]="editLoanForm">   
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control"  formControlName="name" required>
                <small style="font-size: 70%;" *ngIf="editLoanForm.get('name').hasError('required') && editLoanForm.get('name').touched">
                  <b class="text-danger">Name Required!</b>
                </small>
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Parents Name</label>
                <input type="text" class="form-control" formControlName="pName" required>
                <small style="font-size: 70%;" *ngIf="editLoanForm.get('pName').hasError('required') && editLoanForm.get('pName').touched">
                  <b class="text-danger">Required!</b>
                </small>
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Date</label>
                <input type="date" class="form-control"  formControlName="date" >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Mobile No</label>
                <input type="number" class="form-control" formControlName="mobileNo" required>
                <small style="font-size: 70%;" *ngIf="editLoanForm.get('mobileNo').hasError('required') && editLoanForm.get('mobileNo').touched">
                  <b class="text-danger">Required!</b>
                </small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Alternate Mobile No</label>
                <input type="number" class="form-control" formControlName="aMobileNo">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" formControlName="address" required>
                <small style="font-size: 70%;" *ngIf="editLoanForm.get('address').hasError('required') && editLoanForm.get('address').touched">
                  <b class="text-danger">Required!</b>
                </small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Amount</label>
                <input type="number" class="form-control" formControlName="amount" required >
                <small style="font-size: 70%;" *ngIf="editLoanForm.get('amount').hasError('required') && editLoanForm.get('amount').touched">
                  <b class="text-danger">Required!</b>
                </small>
              </div>
            </div>
            <div class="col-md-6 px-1">
              <div class="form-group">
                <label>Interest(per month)</label>
                <input type="number" class="form-control" formControlName="interest" required >
                <small style="font-size: 70%;" *ngIf="editLoanForm.get('interest').hasError('required') && editLoanForm.get('interest').touched">
                  <b class="text-danger">Required!</b>
                </small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Notes</label>
                <textarea class="form-control textarea" formControlName="notes" ></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="button" class="btn btn-success btn-round" (click)="confirmEdit()">&nbsp;&nbsp;SAVE CHANGES&nbsp;&nbsp;</button>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
