<div class="card">
    <div class="card-header bg-primary text-light">
        <div class="card-title">
            <h4>Interest History</h4>
            <form class="form-inline align-items-center" style="float: right;">
              <div class="form-group mb-2">
                Enter Loan ID
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" [(ngModel)]="searchID" [ngModelOptions]="{standalone: true}">
              </div>
              <button type="submit" class="btn btn-info mb-3 text-primary" style="background-color: white;" (click)="searchByID()">Search</button>

            </form>
        </div>
    </div>
    <div class="card-body" style="padding: 40px 20px;">
        <table class="table text-center">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">HISTORY ID</th>
              <th scope="col">DATE OF PAID</th>
              <th scope="col">AMOUNT(₹)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of historyTable; index as i">
                <td>{{ i + 1 }}</td>
                <td>{{ row.loanID }}</td>
                <td>{{ row.date | date:'dd-MM-yyyy' }}</td>
                <td class="text-success"><b>{{row.interestPaid }}</b></td>
            </tr>
          </tbody>
        </table>
    </div>
</div>