<div class="modal-header">
	<h4 class="modal-title">Information about <span class="text-primary">{{loanID}}</span></h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body" *ngFor="let info of loanInfo">
    <p><b>Name :</b> {{info.name}}</p>
    <p><b>Parent Name : </b>{{info.parentName}}</p>
    <p><b>Address : </b>{{info.address}}</p>
    <p><b>Date : </b>{{info.date | date:'dd-MM-yyyy' }}</p>
    <p><b>Mobile No : </b>{{info.mobile}}</p>
    <p *ngIf="info.aMobile == null"><b>Alternate Mobile : </b>{{info.aMobile}}</p>
    <p><b>Amount : </b>{{info.amount}}</p>
    <p><b>Interest : </b>{{info.interest}}</p>
    <p><b>Interest paid : </b>{{info.interestPaid}}</p>
    <p *ngIf = "info.notes == null"><b>Notes : </b>{{info.notes}}</p>
</div>