<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header bg-primary text-light">
        <h5 class="card-title">New Loan Details Form</h5>
      </div>
      <div class="card-body" style="padding: 40px 20px;">
        <form [formGroup]="newLoanForm">   
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control"  formControlName="name" required>
                <small style="font-size: 70%;" *ngIf="newLoanForm.get('name').hasError('required') && newLoanForm.get('name').touched">
                  <b class="text-danger">Name Required!</b>
                </small>
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Parents Name</label>
                <input type="text" class="form-control" formControlName="pName" required>
                <small style="font-size: 70%;" *ngIf="newLoanForm.get('pName').hasError('required') && newLoanForm.get('pName').touched">
                  <b class="text-danger">Required!</b>
                </small>
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Date</label>
                <input type="date" class="form-control" formControlName="date" >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Mobile No</label>
                <input type="text" class="form-control" formControlName="mobileNo" required>
                <small style="font-size: 70%;" *ngIf="newLoanForm.get('mobileNo').hasError('required') && newLoanForm.get('mobileNo').touched">
                  <b class="text-danger">Required!</b>
                </small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Alternate Mobile No</label>
                <input type="text" class="form-control" formControlName="aMobileNo">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" formControlName="address" required>
                <small style="font-size: 70%;" *ngIf="newLoanForm.get('address').hasError('required') && newLoanForm.get('address').touched">
                  <b class="text-danger">Required!</b>
                </small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Amount</label>
                <input type="number" class="form-control" formControlName="amount" required>
                <small style="font-size: 70%;" *ngIf="newLoanForm.get('amount').hasError('required') && newLoanForm.get('amount').touched">
                  <b class="text-danger">Required!</b>
                </small>
              </div>
            </div>
            <div class="col-md-6 px-1">
              <div class="form-group">
                <label>Interest(per month)</label>
                <input type="number" class="form-control" formControlName="interest" required>
                <small style="font-size: 70%;" *ngIf="newLoanForm.get('interest').hasError('required') && newLoanForm.get('interest').touched">
                  <b class="text-danger">Required!</b>
                </small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Notes</label>
                <textarea class="form-control textarea"formControlName="notes" ></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-success btn-round" [disabled]="(!newLoanForm.valid)" (click)="submit()">&nbsp;&nbsp;SUBMIT&nbsp;&nbsp;</button>&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="submit" class="btn btn-outline-info btn-round" (click)="clearForm()">RESET</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
